@import "reset";

$font01: #3b3b3b;
$border01: 1px solid #dddddd;

$back01: #eeeeee;
$back02: #ffffff;

$animation: 0.2s;
$radius: 2px;

$acent01: #3276b1;
$acent02: #285e8e;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: $font01;
}

.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;

    #variables {
        max-width: 450px;
        font-family: monospace;
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;

        b {
            font-size: 18px;
            font-weight: 700;
        }
    }

    #display {
        display: block;
        width: 100%;

        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 400;
        text-align: right;
        border: $border01;
        padding: 10px 20px;
        margin-bottom: 5px;

        border-radius: $radius;
        transition-duration: $animation;
    }

    #history {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        max-width: 450px;
        max-height: 400px;
        min-height: 40px;
        overflow: hidden;
        overflow-y: auto;
        padding: 5px 20px;
        text-align: right;
        font-size: 15px;

        b {
            font-weight: 700;
        }
    }

    #status {
        height: 26px;
        padding: 5px 20px;
        margin-bottom: 5px;
        text-align: right;
        font-size: 15px;

        b {
            font-weight: 700;
        }
    }

    .btn {
        cursor: pointer;
        width: 80px;
        padding: 12px 0;
        /*margin: 5px;*/
        text-align: center;
        border: $border01;
        background: $back02;
        transition-duration: $animation;
        border-radius: $radius;
    }

    .btn-group {

        .row { display: flex; }

        .bg-memory,
        .bg-numbers,
        .bg-control,
        .bg-arithmetic {
            margin-right: 5px;

            .row {
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }

                .btn {
                    margin-right: 5px;
                    &:last-child { margin-right: 0; }
                }
            }
        }
        .bg-memory,
        .bg-control {
            margin-right: 0;
        }

        .bg-memory{
            display: none;
            
            .row {
                margin-bottom: 5px !important;
            }
        }


        .bg-numbers {

            .btn {
                background: $back01;

                &.none {
                    background: $back02;
                }

                &:hover {
                    background: $back01 - 5;

                    &.none {
                        background: $back02 - 5;
                    }
                }
            }
        }


        .bg-control,
        .bg-arithmetic {
            .btn {
                background: $back02;

                &:hover {
                    background: $back02 - 5;
                }
            }
        }

        #equally {
            background: $acent01;
            border: 1px solid $acent02;
            color: $back02;
            font-weight: 500;

            &:hover {
                background: $acent01 - 10;
            }
        }
    }
}

    